.horizontal-layout
{
    display: flex;
    flex-direction: row;
}
.vertical-layout
{
    display: flex;
    flex-direction: column;
}
.center-horizontally
{
    display: flex;
    margin: auto;
}
.centered
{
    margin: auto;
}

/* header */

#logo
{
    width: 5%;
    height: 5%;
    margin: 10px;
}
header .title
{
    width: 75%;
}
header h2
{
    margin-left: 0.5em;
}

#advanced-menu form
{
    padding: 10px;
}
#advanced-menu-button
{
    height: 25px;
    width: auto;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}
.tags
{

}

/* images */

.images-container
{
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Upload Form */

#upload-form-container {
    width: 50%;
    height: 60%;

    margin-top: 5%;
    margin-left: 25%;
    margin-bottom: 20px;

    padding:20px;
    border: 1px solid #888;
    border-radius: 2px;

    background-color: #fefefe;
}
#upload-form-container form a
{
    margin: auto;
}

.submit-price-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 25px;

    margin-top: 20px;
}

#submit-upload
{
    width: 15%;
    height: 33px;

    padding: auto;
    border: 1px solid #00c7fc;
    border-radius: 3px;

    cursor: pointer;
    text-align: center;

    font-size: 13px;
    background-color: #FFFFFF;
    color: #212529;
}
#submit-upload:hover
{
    background-color: #eaeaea;
}

.tags
{
    background-color: #64788C;
    border-radius: 20px;
    padding: 5px 15px;
}


/* Keyword SearchBar and List */


#keyword-list-container
{
    margin-bottom: 10px;
    margin-top: 15px;
}

#keyword-search
{
    width: 100%;

    margin-bottom: 5px;
    padding: 12px 20px 12px 40px;

    border: 1px solid #ddd;
    border-radius: 3px;

    font-size: 16px;
}
#keyword-search:focus
{
    border-color: #00c7fc;
}

#keywordList
{
    width: 100%;
    max-height: 150px;

    padding: 0;
    margin: 0 0 25px;

    overflow-y: auto;
    list-style-type: none;
}

#keywordList li a
{
    display: block;

    margin-top: -1px;
    padding: 12px;

    border: 1px solid #ddd;

    background-color: #f6f6f6;
    color: black;

    text-decoration: none;
    font-size: 18px;
}
#keywordList li a:hover:not(.header)
{
    background-color: #eee;
}


.tags {
    margin: 5px;
}

/* modal */

.modal
{
    display: none;
    width: 100%;
    height: 100%;

    position: fixed;
    left: 0;
    top: 0;

    background-color: rgba(0,0,0,0.5);
    z-index: 10000000;
}

.modal-content
{
    width: 50%;
    height: auto;
    transition: transform 0.5s;

    position: absolute;
    top: 50vh;
    left: 50vh;
    transform: translateY(-50%);

    padding: 10px;
    border: 1px solid #888;

    background-color: #fefefe;
}

#modal-image-container
{
    max-width: 500px;
    height: auto;
    max-height: 500px;

    left: 0;
    margin: auto 20px auto 0;

}

#modal-image-container img
{
    max-width: 450px;
    height: auto;
    max-height: 450px;
}

#price-container p
{
    margin-right: 5px;
}

#action-container
{
    position: fixed;

    right: 20px;
    bottom: 20px;
}

#action-container p {
    margin: 0;
}

/* CartPanel */

.empty-content
{
    margin-top: 15px;
}

.details-container
{
    margin: auto;
}

.remove-cart-span
{
    margin: auto;
    font-size: 5em;
}
.remove-cart-span:hover
{
    font-weight: bold;
    cursor: pointer;
}

.divider-horizontal
{
    width: 50%;
    height: 2px;
    border-radius: 5px;
    margin: 30px auto;
}

/* footer */

footer
{
    margin-top: 30px;
}

footer .main-footer-div
{
    position: fixed;
    bottom: 0;

    width: 100%;
}