.horizontal-layout {
    display: flex;
    flex-direction: row;
}
.center-horizontally {
    display: flex;
    margin: auto;
}

#logo {
    width: 5%;
    height: 5%;
    margin: 10px;
}

#advanced-menu form {
    padding: 10px;
}
#advanced-menu-button {
    height: 25px;
    width: auto;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

/* Upload Form */

#upload-form-container {
    width: 50%;
    height: 60%;

    margin-top: 5%;
    margin-left: 25%;
    margin-bottom: 20px;

    padding:20px;
    border: 1px solid #888;
    border-radius: 2px;

    background-color: #fefefe;
}
#upload-form-container form a
{
    margin: auto;
}

.submit-price-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 25px;

    margin-top: 20px;
}

#submit-upload
{
    width: 15%;
    height: 33px;

    padding: auto;
    border: 1px solid #00c7fc;
    border-radius: 3px;

    cursor: pointer;
    text-align: center;

    font-size: 13px;
    background-color: #FFFFFF;
    color: #212529;
}
#submit-upload:hover
{
    background-color: #eaeaea;
}


/* Keyword SearchBar and List */


#keyword-list-container
{
    margin-bottom: 10px;
    margin-top: 15px;
}

#keyword-search
{
    width: 100%;

    margin-bottom: 5px;
    padding: 12px 20px 12px 40px;

    border: 1px solid #ddd;
    border-radius: 3px;

    font-size: 16px;
}
#keyword-search:focus
{
    border-color: #00c7fc;
}

#keywordList
{
    width: 100%;
    max-height: 150px;

    padding: 0;
    margin: 0 0 25px;

    overflow-y: auto;
    list-style-type: none;
}

#keywordList li a
{
    display: block;

    margin-top: -1px;
    padding: 12px;

    border: 1px solid #ddd;

    background-color: #f6f6f6;
    color: black;

    text-decoration: none;
    font-size: 18px;
}
#keywordList li a:hover:not(.header)
{
    background-color: #eee;
}

.tags {
    margin: 5px;
}

/* images */

.image-display
{
    width: auto;
    height: 250px;

    margin: 10px;
}

/* Details Image Modal */

.modal
{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    z-index: 10000000;
}

#modal-image-details-content
{
    background-color: #fefefe;

    /*Align vertically and horinztally*/
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    left:50vh;

    padding-right: 20px;
    border: 1px solid #888;
    width: 50%;
    height: auto;

    display: flex;
    flex-direction: row;
    transition: transform 0.5s;
}

.divider-vertical
{
    position: relative;
    margin-left: 5px;
    width: 5px;
    height: 100%;
    overflow: hidden;
    background-color: #e5e5e5;
}

/* Details container */

#modal-image-details-content #details-container
{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-left: 25px;
    margin-top: 15px;

}

#modal-image-details-content #details-container p
{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 3px;
}


/* Description container */

#modal-image-details-content #details-container #desc-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#modal-image-details-content #details-container #desc-container #desc
{
    margin: auto;
}

/* Price container */
#modal-image-details-content #details-container #price-container
{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}


/*Image container */
#modal-image-details-content #image-container
{
    left:0;
    margin: 5px;
}

.modal img
{
    width: auto;
}


#add-cart-submit
{
    width: 30%;
    margin-top:100%;
    height: 30px;
    margin: auto;
    padding: auto;
    border: 1px solid #00c7fc;
    border-radius: 3px;

    cursor: pointer;
    text-align: center;

    font-size: 13px;
    background-color: #FFFFFF;
    color: #212529;
}

.images-container
{
    margin-bottom: 20px;
    margin-top: 20px;
}

/* footer */

footer
{
    position: fixed;
    bottom: 0px;

    width: 100%;
}
